<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar um orfanato | Happy</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

  <link rel="icon" href="/images/logo-icon.png">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/animations.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/map.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/buttons.css">
  <link rel="stylesheet" href="/css/page-create-friend.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>

<body>
  <div id="page-create-friend">
    <aside class="animate-right sidebar">
      <a href="/">
        <img src="/images/map-marker.svg" alt="Happy">
      </a>

      <footer>
        <button onclick="history.back()">
          <img src="/images/arrow-back.svg" alt="Voltar">
        </button>
      </footer>
    </aside>

    <main class="animate-appear width-sidebar">
      <form action="/save-friend" method="post" onsubmit="validate(event)">
        <fieldset>
          <legend>Dados</legend>

          <div class="map-container">
            <div id="mapid"></div>
            <input type="hidden" name="lat">
            <input type="hidden" name="lng">

            <footer>
              <a href="#" id="select-point">
                Clique no mapa para adicionar a localização
              </a>
            </footer>
          </div>

          <div class="input-block">
            <label for="name">Nome</label>
            <input id="name" name="name" type="text" required>
          </div>

          <div class="input-block">
            <label for="store">História <span>Máximo de 300 caracteres</span></label>
            <textarea id="store" name="store" type="text" required></textarea>
          </div>

          <div class="input-block">
            <label for="whatsapp">Número do WhatsApp</label>
            <input id="whatsapp" name="whatsapp" type="text" required>
          </div>

          <div class="input-block images">
            <label for="images">Fotos <span>Máximo de 6 fotos</span></label>
            <div class="images-upload" id="images">
              <div class="new-upload">
                <input type="url" name="images" placeholder="Cole o link da foto aqui" required>
                <span onclick="deleteField(event)"><img src="/images/remvove-file.svg" alt="Remover foto"></span>
              </div>
            </div>
            <button onclick="addPhotoField()" type="button">
              <img src="/images/add-file.svg" alt="Nova imagem">
            </button>
          </div>
        </fieldset>

        <fieldset>
          <legend>Personalidade</legend>

          <div class="input-block">
            <label for="temperaments">Temperamento</label>
            <input id="temperaments" name="temperaments" type="text" required>
          </div>

          <div class="input-block">
            <label for="sociable">Sóciável com</label>
            <input id="sociable" name="sociable" type="text" required>
          </div>
        </fieldset>

        <fieldset>
          <legend>Outras Informações</legend>

          <div class="input-block">
            <label for="food">Alimentação</label>
            <input id="food" name="food" type="text" required>
          </div>

          <div class="input-block">
            <label for="health">Saúde</label>
            <input id="health" name="health" type="text">
          </div>
        </fieldset>
        <button type="submit" class="primary-button">
          Confirmar
        </button>
      </form>
    </main>

  </div>
  <script src="/scripts/token.js"></script>
  <script src="/scripts/page-create-friend.js"></script>
</body>

</html>